# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

/app/public/assets/cards
/app/public/assets/thumbs
/app/public/assets/data


node_modules
out

# misc
.ideas
.DS_Store
.env.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
